/* Profile drop-down  */
  .dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    box-shadow:0 2px 10px #ccc;
    z-index: 1;
    border-radius: 5px;
    margin-top: 20px;
  }

.dropdown-content.right-menu {
  margin-top:0px;
  font-weight: bold;
}

.dropdown-content.right-menu a:hover{
  margin-top:0px;
}

.dropdown-content a {
    color:var(--main-font-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: .9em;
    
  }

.dropdown-content a:hover {
  background-color:var(--main-light-green);
  color: var(--main-font-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--main-light-green);
}

.dropdown hr {
border: 1px solid rgb(218, 218, 218);
}

.dropdown .header-btn {
  margin-top: 0;
}

.header-popup-btn {
    background-color:var(--main-theme-color);
    padding:10px 15px;
    grid-area: btn;
    justify-self: end;
    border-radius: 50px;
    text-align: center;
    color:var(--main-bg-color);
    font-weight: bold;
    transition: all ease-out .3s;
    cursor: pointer;
    border: none;
    font-size: .9em;
}

.header-popup-btn:hover {
    background-color: var(--main-light-green);
}