
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/* GLOBAL SCOPE VARIABLES*/
/* Don't change   */
:root {
    --main-theme-color: #058A00;
    --main-light-green: #24aa20;
    --main-font-color: #404040;
    --main-dark-color: #6D6D6D;
    --main-bg-color: #FFFFFF;
    --main-layout-bg-color:#eee;
    --main-font: 'Quicksand', sans-serif;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: 80px 8fr 50px;
    grid-template-areas: 
    "header header header"
    ". content ."
    "footer footer footer";
    background-color:var(--main-layout-bg-color);
    min-height: 100vh;
}

header {
    display:grid;
    grid-template-columns: 100px 1fr 200px;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "logo nav btn";
    justify-content: space-between;
    align-items: center;
    background-color:var(--main-bg-color);
    grid-area: header;
    padding:0 5rem;
    box-shadow:0 2px 10px #ccc;
    
}

nav ul {

    list-style-type: none;
    grid-area: nav;
    margin-left: 20px;
}

nav ul li {
    display: inline-block;
    
}

nav li a {
    color:var(--main-font-color);
    text-decoration: none;
    padding: 5px 8px;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--main-dark-color);
}

header .nav-profile ul li{
    display: inline-block;
}
header li a{
    text-decoration: none;
    padding: 5px 8px;
    font-weight: 500;
    color: var(--main-theme-color);
    font-weight: bold;
    transition:  ease .2s;
    border-bottom: 3px solid #FFF;
}

nav li a:hover {
    color:var(--main-theme-color);
    border-bottom: 3px solid var(--main-theme-color);
}

.active {
    color: var(--main-theme-color);
}

.header-popup-btn {
    background-color:var(--main-theme-color);
    padding:10px 15px;
    grid-area: btn;
    justify-self: end;
    border-radius: 50px;
    text-align: center;
    color:var(--main-bg-color);
    font-weight: bold;
    transition: all ease-out .3s;
    cursor: pointer;
}

.header-popup-btn:hover {
    background-color: var(--main-light-green);
}

.logo {
    grid-area: logo;
}

header {
    background-color: var(--main-bg-color);
    grid-area: header;
    padding:0 5rem;
    box-shadow:0 2px 10px #ccc;
}

.content {
    color:var(--main-font-color);
    grid-area: content;
    min-height: 600px;
    padding: 10px 0;
}

h1 {
    padding: 20px 0;
}

h2 {
    padding: 25px 0 20px 0;
}

p {
    line-height: 1.8em;
}

footer {
    color:var(--main-bg-color);
    background-color: var(--main-dark-color);
    grid-area: footer;
    text-align: center;
    padding: 12px 0;
}

.user-tabs li {
    display: inline;
    
}

.user-tabs li a {
    color:var(--main-font-color);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition:  ease .2s;
    border-radius: 5px;
}

.user-tabs li a:hover {
    color:var(--main-theme-color);
    background-color: #FFF;

}

.user-tabs {
    width: 100%;
    text-decoration: none;
    padding: 20px 0;
    border-bottom: 2px solid rgb(175, 175, 175);
    margin-bottom: 20px;
    
}

.user-tabs .active-tab {
    background-color: #FFFFFF;
    color:var(--main-theme-color);
}
.main-table {
    overflow-x:auto;
}
.main-table table {
    border-collapse: collapse;
    width: 100%;
    background-color:#FFF;
  }

.main-table th, td {
    padding: 15px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

.main-table tr:hover {
    background-color:#f5f5f5;
}

.filter-panel {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 6px;
    grid-template-areas: 
    "panel1 panel2 panel3 panel4";
    padding: 10px;
    background-color: #fff;
    margin-bottom: 5px;
}

.filter-panel .panel1 {
    grid-area:panel1;
    color: red;
}
.panel2 {
    grid-area:panel2;
}
.panel3 {

    grid-area:panel3;
}
.panel4 {

    grid-area:panel4;
}

.btn{
    background-color: var(--main-light-green);
    padding: 15px;
    border: 0px solid var(--main-light-green);
    border-radius: 5px;
    color: var(--main-bg-color);
    font-size: 15px;
    font-weight: 500;
    transition: ease .3s;
}
.btn:hover {
    background-color: var(--main-theme-color);
}