@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/* GLOBAL SCOPE VARIABLES*/
:root {
    --main-theme-color: #058A00;
    --main-font-color: #404040;
    --main-dark-color: #6D6D6D;
    --main-bg-color: #FFFFFF;
    --main-font: 'Quicksand', sans-serif;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: var(--main-font);
    color:var(--main-font-color);
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: 80px 8fr 50px;
    grid-template-areas: 
    "header header header"
    ". content ."
    "footer footer footer";
    background-color: #eee;
}

header {
    display:grid;
    grid-template-columns: 100px 1fr 200px;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "logo nav btn";
    justify-content: space-between;
    align-items: center;
    background-color:var(--main-bg-color);
    grid-area: header;
    padding:0 5rem;
    box-shadow:0 2px 10px #ccc;
}

nav ul {
    list-style-type: none;
    grid-area: nav;
    margin-left: 20px;
}

nav ul li {
    display: inline-block;
    
}

nav li a {
    text-decoration: none;
    padding: 5px 8px;
    font-weight: 500;
    font-weight: bold;
}

nav li a:hover {
    color:var(--main-theme-color);
    border-bottom: 3px solid var(--main-theme-color);
}

.active {
    color: var(--main-theme-color);
}

.header-popup-btn {
    background-color:var(--main-theme-color);
    padding:10px 15px;
    grid-area: btn;
    justify-self: end;
    border-radius: 50px;
    text-align: center;
    color:var(--main-bg-color);
}

.logo {
    grid-area: logo;
}

.content {
    /* background-color: aqua; */
    grid-area: content;
    min-height: 600px;
    padding: 10px 0;
}

h1 {
    padding: 20px 0;
}

h2 {
    padding: 25px 0 20px 0;
}

p {
    line-height: 1.8em;
}

footer {
    background-color: rgb(158, 158, 158);
    grid-area: footer;
    text-align: center;
    padding: 15px 0;
}